/node_modules
/public/hot
/public/css
/public/font
/public/fonts
/public/images
/public/i-checker
/public/img
/public/js
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
/LumiereApi/node_modules
.env
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
.DS_Store
/cypress/screenshots
/cypress/videos
/cypress/support/routes.json
/cypress/fixtures

.github/workflows/merge-pr.yml
